.dashboard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    background-color: var(--primary-bg);
    color: var(--text-color);
}

.column {
    width: 100%;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 1rem;
}

.column h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.task-count {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    min-width: 24px;
}

.task-list-container {
    max-height: 500px;
    overflow-y: auto;
}

.task {
    padding: 1rem;
    margin-bottom: 1rem;
}

.task h3 {
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .dashboard {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
    }

    .column {
        width: 30%;
        margin-bottom: 0;
    }

    .task-list-container {
        max-height: 800px;
    }
}

@media screen and (min-width: 1024px) {
    .column h2 {
        font-size: 1.5rem;
    }

    .task h3 {
        font-size: 1.125rem;
    }
}
