.loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding: 1.25rem;
    border-radius: 0.25rem;
    z-index: 1002;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media screen and (max-width: 320px) {
    .loading-indicator {
    padding: 1rem;
    font-size: 0.875rem;
    }
}
    